Flask==1.0.2
Flask-WTF==0.14.2
Jinja2==2.10.1
MarkupSafe==1.1.1
WTForms==2.2.1
Werkzeug==0.15.2
gunicorn==19.9.0
itsdangerous==1.1.0
pandas==0.24.2
python-dotenv==0.10.1
pytz==2019.1
six==1.12.0
xlrd==1.2.0