{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center" id="row1"> <!-- row 1 -->
            <h1 class="col-auto">Hmm... What Should I Make?</h1> <!-- row 1 col 1 -->
        </div>
        <form class="row align-items-center justify-content-center mt-5" action="" method="post" novalidate id="row2"> <!-- row 2 -->
            {{ form.hidden_tag() }}
            
            {{ form.mealtime(class_="col-auto col-md-auto mb-2 mr-md-2 mb-md-0", id="dropDown") }}
            <div class="w-100 d-inline d-md-none"></div>
            {{ form.submit(class_="col-auto col-md-auto", id="submitButton") }}
        </form>
        <div class="row align-items-center justify-content-center mt-4" id="row3"> <!-- row 3 -->
            <div class="col-12"> <!-- row 3 col 1 -->
                <p style="text-align:center;">{{ fp.printStatement(form.mealtime.data) }}</p>
            </div>
        </div>
    </div>
{% endblock %}